<h1>Introduction</h1>
<p>This is a Emberjs addon for the awesome <a href="https://wavesurfer-js.org/">Wavesufer.js</a> by <a
        href="https://github.com/katspaugh">katspaugh</a></p>
<p>wavesurfer.js works only in modern browsers supporting Web Audio.
    It will fallback to Audio Element in other browsers (without graphics).</p>